header {
    text-align: center;
}


.col-md-1 {
  margin: 12px;
    justify-content: center;

}

input {
    height: 69px;
}

.saveBtn {
    margin: 1px;
    background-color: rgb(24, 131, 163);
    color: white;
    justify-content: center;

}

.past {
    background-color: gray;
}

.present {
    background-color: red;
}

.future {
    background-color: green;
}